@model int
@{
    ViewData["Title"] = "OrderConfirmation";

}
<br />
<br />
<div class="container p-5">
    <div class="container row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Request Submitted</h1><br />
        </div>
        <div class="col-12 text-center" style="color:maroon">
            <br />
            Thank you for submitting a request! <br />
            We have received your request and our team will be call you shortly!
            <br />
            <div class="box box-shadow">Your Request Number is : @Model</div>
            
        </div>
    </div>
</div>

